.rest-thumb {
  height: 90px;
}

.record-info {
  padding-left: 10px;
  vertical-align: bottom;
  display: inline-block;
}

.record-pic {
  padding-left: 10px;
  display: inline-block;
}

.record {
  width: 700px;
  display: inline-block;
  margin: 5px auto;
  border: 1px solid grey;
}

.rest-image {
  height: 300px;
  width: 300px;
}

.show-box {
  display: inline-block;
}

.rest-show-img {
  padding-left: 20px;
}

.rest-show-info {
  padding-left: 40px;
}